
<style>
         body {
            background-image: url('bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            min-height: 100vh;
            margin: 0;
            
        }
        .navbar {
            width: 100%;
            background: #3e2723;
            padding: 15px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 2px solid #d81b60;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .logo {
            font-family: 'Dancing Script', cursive;
            font-size: 24px;
            font-weight: bold;
            color: #fce4ec;
        }

        .navbar a {
            text-decoration: none;
            color: #fce4ec;
            font-weight: 600;
            margin: 0 15px;
            font-size: 14px;
            text-transform: uppercase;
        }
        .hero {
            display: flex;
            padding: 50px 40px;
            gap: 40px;
        }

        .left {
            width: 45%;
        }

        .right img {
            width: 50%;
            height: auto;
            border-radius: 10px;
        }

        .name {
            font-size: 60px;
            font-weight: bold;
            color: #d7ccc8;
            margin-top: -10px;
        }

        .desc {
            font-size: 20px;
            color: #444;
            font-style: italic;
            margin-bottom: 20px;
        }

        audio {
            width: 100%;
            margin-top: 15px;
        }
        .date {
            text-align: center;
            font-size: 24px;
            margin-top: 20px;
            color: #333;
        }
        .welcome-box {
            width: 80%;
            max-width: 900px;
            background: #fff;
            padding: 40px;
            margin: 30px auto;
            border-radius: 10px;
            text-align: center;
        }

        .welcome-box h1 {
            color: #d7ccc8;
            font-size: 40px;
        }

        .welcome-box p {
            color: #444;
            font-size: 22px;
            line-height: 1.6;
        }

        .menu-box {
            background:#d7ccc8;
            width: 90%;
            max-width: 900px;
            margin: 30px auto;
            padding: 40px;
            border-radius: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .menu-text {
            text-align: left;
            padding-left: 40px;

        }

        .menu-text h2 {
            font-size: 40px;
            margin: 0;
            letter-spacing: 4px;
            font-style: oblique;
           

        }

        .menu-text p {
            font-size: 18px;
            margin-top: 10px;
        }

        .menu-img {
            height: 160px;
            margin-right: 40px;
                    
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.location-info h1 {
    text-align: center;
    color: #1f2a6d;
}

.map-container {
    margin: 100px;
    text-align: center;
}

.contact-info {
    text-align: center;
    margin: 50px 0;
    font-size: 18px;
}

.contact-info a {
    color: #1f2a6d;
}

footer {
    background-color: #3e2723; 
    color: #fce4ec;
    padding: 40px 0;
    margin-top: 50px;
    
    width: 100%; 
    display: block;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Buang scroll bar melintang */
}

.Biodata{
body {
    font-family: Arial, sans-serif;
    background:  #fff5f7;
    margin: 0;
    padding: 20px;
    
}

.table-container {
    max-width: 700px;
    margin: auto;
    background: #fff5f7;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

table th {
    background-color: #d7ccc8;
    color: white;
    text-align: left;
    padding: 12px;
    width: 30%;
}

table td {
    background-color: #D3D3D3;
    padding: 12px;
}

table tr {
    border-bottom: 1px solid #ddd;
}
table tr: hover td {
    background-color: #fff5f7;
}
.profile-image img {
    width: 180px;
    height: 180px;
    border-radius: 50%;       
    object-fit: cover;
    border: 4px solid #d7ccc8;
    margin-bottom: 20px;
}

.biodata-container {
    width: 50%;
    margin: auto;
    background:#fff5f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
